html {}

body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*******HEADER*******/

header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/desk4.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    opacity: 1;
    background-attachment: fixed;
}

.header-title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    font-size: 3.5em;
}

.header-name {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 150px;
}

.arrow {
    width: 50px;
    margin-top: 250px;
}



/*******ABOUT*******/

.container-about {
    background-color: #FFFFFF;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0px;
}

.container-profile, .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile {
	margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-content {
	margin-right: 100px;
}

.profile-image-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(img/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.profile-image-wrapper img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.profile-image {
    height: 300px;
    width: 300px;
}

.contact-link {
    cursor: pointer;
    width: 115px;
    height: 25px;
    margin-top: 6px;
    background: #333333;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bold;
    border: 3px solid #B3B6BF;
    display: flex;
    justify-content: center;
    align-self: center;
    opacity: 1;
    filter: alpha(opacity=100);
    margin-top: 25px;
}

.contact-link:hover {
	  -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: .8;
    filter: alpha(opacity=50);
 

}

p {
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 15px;
}

.languages {
	margin-left: 75px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.framework {
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-right: 110px;
}

.skills-icons img {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin-right: 1rem;
    filter: brightness(0) invert(0);
}


/*******WORK*******/

.container-work {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-work h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    font-size: 3.5em;
}

.project-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-image img {
    height: 300px;
    width: 500px;
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}

.project-image img:hover {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: .5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
}


/*******FOOTER*******/

footer {
    padding-top: 10px;
    font-size: 0.75em;
    text-align: center;
    height: 20vh;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.contact-list i {
    padding: 5px;
    padding-bottom: 20px;
}

.fa-envelope-o,
.fa-github,
.fa-linkedin-square {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}

.icon:hover {

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: .5;
    filter: alpha(opacity=50);
}


/* -------------------- Media Queries -------------------- */

@media (max-width: 1024px) {
	header {
		color: blue;
	}

}

@media (max-width: 768px) {
	header {
		color: red;

	}
}

@media (max-width: 500px) {
	header {
		color: purple;
		background-size: cover;
		background-position: cover;
		background-repeat: no-repeat;
	}

		.header-title {
	    font-weight: 350;
	    text-transform: uppercase;
	    letter-spacing: 0rem;
	    margin-top: 10px;
	    font-size: 1.5em;
	}

	.header-name {
	    font-weight: 300;
	    text-transform: uppercase;
	    font-size: 1em;
	    margin-top: 75px;
	}

	.arrow {
	    width: 25px;
	    margin-top: 100px;
	}

	.container-about {
		height: auto;
		width: 100%;
	}

	.container-profile, .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: auto;
}


.profile-image-wrapper, .profile-image {
    width: 200px;
    height: 200px;
}

.profile {
	margin-left: 0;
}

.contact-link {
    cursor: pointer;
    width: 100px;
    height: 20px;
}

.profile-content {
	margin-right: 0px;
	margin-top: 20px;
}

.languages {
	margin-left: 0px;
}

.framework {
	margin-right: 0px;
}


.container-work {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-work h1 {
    font-weight: 200;
    letter-spacing: 0rem;
    margin-top: 0px;
    font-size: 2em;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
}

.project-image img {
    height: 200px;
    width: 300px;
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}

.project-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


}
